In [1]:
import pandas as pd
df = pd.read_csv('camera_dataset.csv')
df.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,Agfa ePhoto 1280,1997,1024,640,0,38,114,70,40.0,4.0,420.0,95.0,179
1,Agfa ePhoto 1680,1998,1280,640,1,38,114,50,0.0,4.0,420.0,158.0,179
2,Agfa ePhoto CL18,2000,640,0,0,45,45,0,0.0,2.0,0.0,0.0,179
3,Agfa ePhoto CL30,1999,1152,640,0,35,35,0,0.0,4.0,0.0,0.0,269
4,Agfa ePhoto CL30 Clik!,1999,1152,640,0,43,43,50,0.0,40.0,300.0,128.0,1299

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model                    1038 non-null   object
 1   Release date             1038 non-null   int64
 2   Max resolution           1038 non-null   int64
 3   Low resolution           1038 non-null   int64
 4   Effective pixels         1038 non-null   int64
 5   Zoom wide (W)            1038 non-null   int64
 6   Zoom tele (T)            1038 non-null   int64
 7   Normal focus range       1038 non-null   int64
 8   Macro focus range        1037 non-null   float64
 9   Storage included         1036 non-null   float64
 10  Weight (inc. batteries)  1036 non-null   float64
 11  Dimensions               1036 non-null   float64
 12  Price                    1038 non-null   int64
dtypes: float64(4), int64(8), object(1)
memory usage: 105.5+ KB

In [3]:
df.shape

(1038, 13)

In [4]:
df.describe()

,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
count,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1037.000000,1036.000000,1036.000000,1036.000000,1038.000000
mean,2003.590559,2474.672447,1773.936416,4.596339,32.963391,121.525048,44.145472,7.787850,17.447876,319.265444,105.363417,457.384393
std,2.724755,759.513608,830.897955,2.844044,10.333149,93.455422,24.141959,8.100081,27.440655,260.410137,24.262761,760.452918
min,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000
25%,2002.000000,2048.000000,1120.000000,3.000000,35.000000,96.000000,30.000000,3.000000,8.000000,180.000000,92.000000,149.000000
50%,2004.000000,2560.000000,2048.000000,4.000000,36.000000,108.000000,50.000000,6.000000,16.000000,226.000000,101.000000,199.000000
75%,2006.000000,3072.000000,2560.000000,7.000000,38.000000,117.000000,60.000000,10.000000,20.000000,350.000000,115.000000,399.000000
max,2007.000000,5616.000000,4992.000000,21.000000,52.000000,518.000000,120.000000,85.000000,450.000000,1860.000000,240.000000,7999.000000

In [5]:
mean = df['Max resolution'].mean()
print(mean)
mode = df['Max resolution'].mode()
print(mode)
min = df['Max resolution'].min()
print(min)
max = df['Max resolution'].max()
print(max)

2474.6724470134873
0    3072
dtype: int64
0
5616

In [6]:
mean = df['Low resolution'].mean()
print(mean)
mode = df['Low resolution'].mode()
print(mode)
min = df['Low resolution'].min()
print(min)
max = df['Low resolution'].max()
print(max)

1773.936416184971
0    2048
dtype: int64
0
4992

In [7]:
mean = df['Zoom wide (W)'].mean()
print(mean)
mode = df['Zoom wide (W)'].mode()
print(mode)
min = df['Zoom wide (W)'].min()
print(min)
max = df['Zoom wide (W)'].max()
print(max)

32.96339113680154
0    38
dtype: int64
0
52